$RECYCLE.BIN/
__macosx
backup/
waste/
temp/
tmp/

.*
!/.gitattributes
!/.gitconfig
!/.github
!/.gitignore
!/.gitmodules
!/.bgforge.yml

*.7z
*.bak
*.bat
*.iemod
*.lnk
*.py
*.rar
*.tar*
*.tmp
*.sh
*.zip

setup-bg1ub
setup-bg1ub.exe
setup-bg1ub.command

Thumbs.db

# Visual Studio Code
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
